:root {
    --dark-color: #bc0000;
    --light-color: lightgray;
}

header {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: Arial, Helvetica, sans-serif;
    border: var(--dark-color) medium solid;
}

@media (max-width: 600px) {
    header {
        text-align: center;
    }
}

nav {
    background-color: var(--dark-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    gap: 10px;
}

nav p {
    border: medium solid var(--light-color);
    background-color: var(--dark-color);
    display: inline-block;
    text-align: center;
    margin-left: 3px;
}

nav p a {
    font-weight: bold;
    color: var(--light-color);
    text-decoration: none;
}

nav p a:hover {
    color: black;
}

footer {
    background-color: var(--dark-color);
    color: var(--light-color);
}

footer p {
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
}

.game-image {
    padding: 0;
    text-align: center;
    list-style: none;
    display: flex;

}

.game-table {
    margin-left: auto;
    margin-right: auto;
}

.game-search {
    margin: 5%;
    text-align: center;
}

.info-text {
    text-align: center;
}

#staff-img {
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    width: 100px;
    height: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.grid-item {
    width: 100%;
}

.grid-item img {
    /* display: block; */
    width: 100%;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.grid-item-wide {
    grid-column: span 2;
}

.grid-item-tall {
    grid-row: span 2;
}

.caption {
    bottom: 5px;
    left: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.shapes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    min-height: 100px;
    background-color: var(--light-color);
    margin-top: 10px;
}

.shapes section {
    background-color: var(--dark-color);
    width: 50px;
    height: 50px;
}

.dark-square {
    color: lightgray;
}

#section2 {
    transform: translate(20px, 20px);
}

#section3 {
    transform: rotate(60deg);
    transform-origin: 5px 33px;
}

#section4 {
    transform: scale(2, 1);
    transform-origin: -15px;
}

#section5 {
    transform: skew(-45deg);
    transform-origin: 0px 30px;
}

#transformations-list li::marker {
    color: red;
}

.articles-container {
    grid-template-columns: 1fr;
}

@media (min-width: 800px) {
    .articles-container {
        grid-template-columns: 1fr 1fr;
    }
}

article p:first-of-type::first-letter {
    color: red;
    font-weight: bold;
}

article p:first-of-type::first-line {
    font-variant: small-caps;
}

article p:first-of-type {
    font-size: 120%;
}

.article-image {
    float: left;
}

/* Container query for article width less than 500px */
@container (max-width: 500px) {
    .article-image {
        float: right;
    }
}