:root {
    --dark-color: #bc0000;
    --light-color: lightgray;
}

header {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: Arial, Helvetica, sans-serif;
    border: var(--dark-color) medium solid;
}

nav {
    background-color: var(--dark-color);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    gap: 230px;
}

nav p {
    border: medium solid var(--light-color);
    background-color: var(--dark-color);
    display: inline-block;
    width: 85px;
    text-align: center;
    margin-left: 3px;
}

nav a {
    color: var(--light-color);
    text-decoration: none;
    font-weight: bold;
}

nav p a:hover {
    color: black;
}

footer {
    background-color: var(--dark-color);
    color: var(--light-color);
}

footer p {
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
}

.game-image {
    padding: 0;
    text-align: center;
    list-style: none;
    display: flex;
    gap: 16px;
}

.game-table {
    margin-left: auto;
    margin-right: auto;
}

.game-search {
    margin: 5%;
    text-align: center;
}

.info-text {
    text-align: center;
}

#staff-img {
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    gap: 10px;
}

.image-container {
    border: 1px solid black;
    padding: 10px;
    grid-column: auto;
    grid-row: auto;
}

.image-container img {
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.large-width {
    grid-column: span 2;
}

.large-height {
    grid-row: span 2;
}

.caption {
    position: absolute;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}